* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black3);
}

:root {
    --main-color: linear-gradient(135deg, #11d6f0, #6ceeff, #11d6f0, #ccc, #6ceeff);
    --main-color3: #11d6f0;
    --black: #191919;
    --black2: #101010;
    --black3: #333333;
}


body {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 25px;
    font-weight: 400;
}

header {
    overflow-x: hidden;
    position: fixed;
    width: 285px;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 11;
}

header::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(17, 214, 240, 0.30) !important;

    /* height: 5px; */
}

.header-content {
    width: 100%;
    overflow: hidden;
}

.navbar {
    background-color: #f7f9fc;
}

.portfolio-pic {
    height: 180px;
    background: var(--main-color);
    background-size: 400% 400% !important;
    position: relative;
}

.portfolio-pic::before,
.portfolio-pic::after {
    content: '';
    position: absolute;
    left: -25%;
    bottom: -62%;
    width: 100%;
    height: 70%;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    z-index: 3;
    background-color: #f7f9fc;

}

.portfolio-pic::after {
    left: auto;
    right: -25%;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}

.photo {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
    background: var(--main-color);
    background-size: 400% 400% !important;
    position: absolute;
    bottom: -25px;
    left: 30%;
    z-index: 999;
    padding: 8px;
}

.photo img {
    border-radius: 100%;
    height: 100%;
}

.title {
    position: relative;
    z-index: 6;
    margin: 40px 20px 10px;
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;

}

.title div {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
    margin: 0 0 0 0;
    letter-spacing: 1px;
}

.headline {
    display: inline-flex;
}

.typewriter {
    overflow: hidden;
    height: 24px;
}

.typewriter li {
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    top: 0;
    color: #555;
    position: relative;
    animation: slide 5s steps(4) infinite;
}

.typewriter li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: #f7f9fc;

    border-left: 2px solid #aebcb9;
    animation: typing 1.25s steps(5) infinite;
}

@keyframes slide {
    100% {
        top: -100px;
    }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;

    }
}

.headline span,
nav a {
    width: 112px;
    vertical-align: top;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
}

nav {
    display: block;
    padding: 10px 0 40px;
    z-index: 999;
    position: absolute;
    width: 100%;
}

.navbar ul {
    width: 100%;
    padding-left: 13px;
}

.navbar ul li {



    font-size: 14px;
    /* font-weight: 500; */
    font-style: normal;
    line-height: 1.85em;
    z-index: 6;

    letter-spacing: 0px;
    display: block;
    position: relative;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    border-radius: 30px 0 0 30px;
    margin-bottom: 8px;
}

.navbar ul li a {
    /* color: rgba(255, 255, 255, 0.5); */
    color: #333333;
    font-weight: 400;
    text-decoration: none;
}

.navbar li:hover {
    /* background-color: rgba(232, 62, 140, 0.18); */
    background-color: rgba(17, 214, 240, 0.18);


}

.navbar ul li a i {
    /* background: linear-gradient(135deg, #e83e8c, #fb8abe, #e83e8c, #fdcee3, #fb8abe); */
    background: linear-gradient(135deg, #11d6f0, #6ceeff, #11d6f0, #ccc, #6ceeff);
    color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    background-size: 400% 400% !important;
}

.cd-words-wrapper::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 70%;
    background-color: #aebcb9;
}

.responsive-header {
    width: 100vw;
    border: 2px solid blue;
    color: #11d6f0;
    height: 55px;
    position: fixed;
    background: #fff;
    z-index: 9999;
    width: 100%;
    padding: 12px 15px;
    display: block;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .06);
    display: none;
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: #11d6f0;
}

.name img {
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    border: 3px solid rgba(17, 214, 240, 0.30);
}

.responsive-icons {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 30px;
}

#check:checked~header {
    left: 0px;
}




/* section  */
.hero-page {
    display: table;
    table-layout: fixed;
    width: 77%;
    margin-left: 285px;
    overflow: hidden;
    height: 100vh;
}

.inner {
    background: url('./home-bg.jpeg');
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
    /* height: auto; */
    /* min-width: 100%; */
    min-height: 100%;
    /* padding:70px */
}

.mask {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.row {
    /* border: 2px solid red; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 70px;
    padding-right: 70px;
}

.col {
    /* flex: 0 0 100%; */
    max-width: 100%;
}

.block {
    position: relative;
    text-align: center;
}

.block h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    /* -webkit-animation-delay: .2s; */
    /* animation-delay: .2s; */
    font-family: 'Raleway', sans-serif;
}

.clip {
    padding-top: 18px;
}

.clip,
.clip span,
.clip span b {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
}

.clip span b {
    font-weight: 700 !important;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

.home-buttons i {
    font-size: 18px;
    margin-left: 5px;
    color: #fff;
}


/* about  */
.about {
    position: absolute;
    width: 77.5;
    margin-left: 285px;
}

.about-inner {
    position: relative;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 60px;
    background-color: #fff;
}

.about-main {
    padding-top: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 65px;
}

.about h4 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 600;
}

.heading-four::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 15px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-color: var(--main-color3);
}

.heading-four::after {
    content: '';
    display: block;
    width: 57px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-bottom: 5px solid var(--main-color3);
}

.about-row {
    display: flex;
}

.about-column {
    flex: 0 0 50%;
    width: 50%;
    position: relative;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.about-map {
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
    font-size: 12px;
    color: #888;
}

.about-map i {
    font-weight: 600;
    color: #888;
}

p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.about-list {
    display: flex;
    margin-top: 30px;
}

.list-column {
    display: flex;
    /* border: 2px solid green; */
}

.list-column div {
    display: flex;
}

.icon-info {
    background: linear-gradient(135deg, #11d6f0, #6ceeff, #11d6f0, #ccc, #6ceeff);
    float: left;
    width: 70px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    margin-right: 15px;
    transition: .3s;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
    color: #fff;
    background-size: 400% 400% !important;
}

.details-info {
    display: flex;
    flex-wrap: wrap;
}

.details-info h6 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.details-info p {
    display: block;

}

.icon-info i {
    position: absolute;
    top: 50%;
    font-size: 17px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    color: #fff;
}

.image-box img {
    width: 100%;
    height: auto;
    /* margin-right: 70px !important; */
}

.about-block {
    background-color: #f7f9fc;
    margin: 30px 60px;
    position: relative;
}

.about-head {
    margin-bottom: 60px;
    position: relative;
    padding: 50px 15px;
}

.about-head span {
    font-weight: 200;
    padding-bottom: 15px;
    display: block;
}

.about-head h4 {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: none;
}

.special-row {
    width: 95%;
    margin: auto;
    display: flex;
}

.special-columns {
    width: 50%;
    margin: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.services-list {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 25px;
    font-weight: 400;
}

.service-block {
    position: relative;
    display: table;
    margin: 0;
    padding: 10px 10px 20px 0;
}

.service-icon {
    display: table-cell;
    width: 80px;
    padding-right: 20px;
    vertical-align: middle;
}

.service-icon i {

    position: relative;
    background-color: #fff;
    float: left;
    border-radius: 100%;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.service-icon i img {
    border-radius: 100%;
}

.service-text {
    padding: 0;
    vertical-align: middle;
}

.services-text h4 {
    font-size: 17px !important;
    line-height: 1.2;
}

.service-text h4:hover {
    color: #11d6f0;
}

.service-text p {
    font-size: 14px;
    color: #555;
    line-height: 25px;
}

p {
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.about-block::before {
    border-left-color: #11d6f0;
    border-bottom: #f7f9fc;
    border-top-color: #11d6f0;

    border-right: #f7f9fc;
    border-style: solid;
    border-width: 2px;
    content: "";
    height: 50px;
    position: absolute;
    width: 50px;
}

.about-block::after {
    float: right;
    border-color: rgba(0, 0, 0, 0) #11d6f0 #11d6f0 rgba(0, 0, 0, 0);
    margin-top: -50px;
    border-style: solid;
    border-width: 2px;
    content: "";
    margin-left: 93%;
    height: 50px;
    position: relative;
    width: 50px;
}

.video-section {
    /* border: 2px solid red; */
    position: relative;
    margin: 80px 60px 60px 60px !important;
    background: url('./city.jpeg');
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    /* margin: 30px 60px; */
}

.overlay {
    height: 100%;
    width: 100%;
    padding: 80px 30px;
    background: linear-gradient(-45deg, rgba(88, 195, 255, .8) 0, #11d6f0 40%, rgb(176, 236, 243) 100%);

}

.video-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.video-column {
    width: 50%;
}

.video-title {
    box-sizing: border-box;
}

.video-title h6 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.video-title h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.video-title h6::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    margin-top: 15px;
    left: 45px;
    background-color: #f8f9fa;
}

.pulse-icon {
    position: relative;
    /* margin-top: 50%; */
    margin-left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
   
}

.icon-wrap {
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.icon-wrap a {
    /* color: #11d6f0; */
    font-size: 40px;
    display: block;
    text-align: center;
    /* vertical-align: middle; */
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.icon-wrap a i {
    color: #11d6f0;
}

.fun-facts {
    padding-top: 30px;
    padding-bottom: 30px;
  margin: 30px 60px;
    /* border: 2px solid blue; */
}
.fun-items{
    /* border: 2px solid red; */
    width: 68vw;
}
.fact-head {
    margin-bottom: 60px;
    position: relative;
}

.fact-head h4 {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.fact-head h4 span {
    font-weight: 200;
    padding-bottom: 15px;
    display: block;
}

.about-clients {
    margin: 30px 60px;
}

#check:checked~header {
    left: 100px;
}
.main-col{
    display: inline-block;
    width: 20% !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.sub-col{
    padding-bottom: 30px;
}
.container-block{
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    background: #f7f9fc;
   
}
.container-block::before,
.container-block::after {
    border-style: solid;
    border-width: 1px;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    width: 30px;
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
}
.counter-block i{
    position: relative;
    font-size: 40px;
    color: #11d6f0;
}
.counter-block h4{
    text-transform: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.counter-block span{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    color: #bfc4c5;
}
.special-block{
    background-color: #f7f9fc;
    margin: 60px 30px;
    padding: 60px 30px;
    position: relative;
}
.testimonial{
    padding-bottom: 60px;
    display: block;
}
.owl-stage-outer{
    position: relative;
    overflow: hidden;

}
.carousel-2{
    border: 2px solid blue;
}
.carousel-2 .images{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sub-images{
    width: 12%;
}
/* .special-block::before,
.special-block::after{
    border-style: solid;
    border-width: 2px;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;;
} */
@media (max-width: 765px) {
    .about-column {
        width: 100% !important;
    }

    .about-row {
        flex-direction: column;
    }

    .about {
        margin-left: 0px;
        width: 100%;
    }

    .about-inner {
        padding: 0px;
    }

    .about-title {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .about-list {
        display: inline-block;
    }

    .special-row {
        display: block;
    }

    .special-columns {
        width: 100% !important;
    }
    .main-col{
        width: 42% !important;
    }
    .video-title{
        display: none;
    }
    .pulse-icon{
        left: 25% !important;
    }
    .video-column{
        width: 100%;
    }
}
@media (max-width:570px){
    .main-col{
        width: 90% !important;
    }
    .images{
        flex-wrap: wrap !important;
    }
}
@media(max-width: 991px) {

    header {
        left: -285px;
    }

    .responsive-header {
        display: block;
    }
.last{
    display: none;
}
.sub-images{
    width: 18% !important;
}
.carousel-2{
padding: 0px !important;
margin: 0px !important;
}
    .hero-page,
    .about {
        width: 100% !important;
        margin: 0 !important;
    }

    .about-inner {
        padding: 0 !important;
    }

    .about-block {
        margin: 30px 20px;
    }
    .fun-facts{
        margin: 0;
    }
    .fun-items{
        width: auto;
    }
}

@media(min-width:1430px) and (max-width:3100px) {
    .hero-page {
        width: 91% !important;
    }
   

}
/* @media(max-width:1490px){
    .main-col{
        width: 18%;
    }
}
@media (max-width:1595px){
    .main-col{
        width: 20%;
    }
}
@media (max-width:1245px){
    .maion-col{
        width: 15%;
    }
} */
.about {
    display: none
}

.about:target {
    display: block;
}

.hero-page {
    display: none;
}

.hero-page:target {
    display: inline-table;
}